.RunningLine {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  margin-top: 15px;
  &_pause:hover .text {
    animation-play-state: var(--stopOnHover);
  }
}
.overlayStyle { // уход в тень и выход из тени
  position: absolute;
  width: 100%;
  height: 100%;
  @mixin gradientStyle {
    background: linear-gradient(to right, var(--overlayColor), rgb(255, 255, 255, 0));
    }
    &:after, &:before {
      @include gradientStyle;
      position: absolute;
      content: ' ';
      width: 50px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      touch-action: none;
    }
    &:after {
      left: 0;
      top: 0;
    }
    &:before {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  }
.text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: scroll var(--speedScroll) linear infinite;
  animation-direction: var(--direction);
}
.Card {
  margin-left: var(--marginCard);
}
.text span {
  font-size: var(--myFontSize);
  margin-right: 25px;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


