@import "../../globalStyle/variables.scss";
@import "../../globalStyle/mixins.scss";
.RunningCard {
  max-width: 250px;
  max-height: 96px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: $cardColor;
}