@import "../../../globalStyle/variables.scss";
@import "../../../globalStyle/mixins.scss";
.UniversalInput {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  &_container {
    width: 450px;
    height: 46px;
    position: relative;
  }
  &_input {
    width: 100%;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    border: $whiteColor 2px solid;
    border-radius: 5px;
    background: $blueColor;
    @include InputText;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    &::placeholder {
      color: $whiteColor;
    }
    &:focus {
      background: $blueGradientInput;
    }
  }
  &_snow {
    position: absolute;
    left: -24px;
    width: 16px;
    height: 16px;
  }
  &_label {
    color: $redColor;
  }
}