@import "../../globalStyle/variables.scss";
@import "../../globalStyle/mixins.scss";
.info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  &_container {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_head {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }
  &_header {
    @include Header2;
    min-width: 280px;
    margin-right: 80px;
  }
  &_text {
    @include MainText;
    min-width: 750px;
  }
  &_what {
    display: flex;
    margin-top: 15px;
    width: 710px;
    height: 70px;
  }
  &_whatHead {
    @include Header2;
    line-height: 125%;
  }
  &_whatHeadBlue {
    @include Header2;
    color: $lightBlue;
    margin-left: 10px;
    line-height: 125%;
  }
}
.list {
  display: flex;
  margin-top: 40px;
  &_element {
    margin-right: 78px;
    height: 450px;
  }
  &_HeaderElement {
    @include infoBlockBlueText;
    background: $blueColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    width: 320px;
    height: 80px;
  }
  &_text {
    @include MainText;
    padding-left: 10px;
    margin-top: 20px;
  }
  &_element:last-of-type{
    margin-right: 0;
  }
}
.red {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: $whiteColor 4px solid;
  cursor: pointer;
  background: $redGradient;
}