//Colors
$whiteColor: #ffffff;
$lightBlue: #1FEFF3;
$redGradient: linear-gradient(90deg, #FF2E00 0%, #FF3586 75%);
$blueColor: #0C3C88;
$cardColor: #01a8e580;
$radialGradientColor: radial-gradient(97.32% 215.3% at 1.34% 4.04%, rgba(1, 168, 229, 0.5) 9.58%, rgba(6, 28, 65, 0.5) 44.44%, rgba(4, 28, 64, 0.5) 70.19%, rgba(12, 60, 136, 0.5) 100%);
