@import "../../../globalStyle/variables.scss";
@import '../../../globalStyle/mixins.scss';
.FeedbackForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  &_textButton {
    @include ButtonText;
    text-shadow: 1px $blueColor;
  }
  &_head {
    @include ButtonText;
    margin-bottom: 40px;
  }
  &_descContainer {
    display: flex;
    width: 450px;
  }
  &_desc {
    @include FormDescriptionNormal;
    margin-left: 10px;
    margin-bottom: 24px;
  }
  &_subHeader {
    @include FormDescriptionSubHeader;
    margin-bottom: 20px;
  }
}