@import "../../globalStyle/variables.scss";
@import '../../globalStyle/mixins.scss';
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1280px;
  position: relative;
  width: 100%;

  &_headContainer {
    display: flex;
    max-width: 450px;
    width: 100%;
  }
  &_head {
    @include HeaderMain;
  }
  &_headBlue {
    @include HeaderMain;
    color: $lightBlue;
    margin-left: 10px;
  }
  &_text {
    @include MainText;
    max-width: 450px;
    margin-top: 25px;
  }
}
