.header {
  display: flex;
  max-height: 490px;
  max-width: 1280px;
  position: relative;
  height: 100%;
  width: 100%;
/*  background-image: url("../../../public/Header.png");
  background-size: contain;*/
}
.Header__text{
  color: aliceblue;
}