@import "../../globalStyle/variables.scss";
@import "../../globalStyle/mixins.scss";
.actionTime {
  max-width: 1280px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: $redGradient;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  &_text {
    @include ActionText;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 45px;
    width: 600px;
    height: 75px;
    display: flex;
    align-items: center;
  }
  &_timer {
    display: flex;
    align-items: center;
    margin-left: 10px;
    max-height: 80px;
    max-width: 270px;
    width: 100%;
  }
  &_numbers {
    @include Header2;
    display: flex;
    transition: 1s linear;
  }
  &_colon {
    display: flex;
    align-items: center;
  }
}
.blink {
  animation: blink 1.5s infinite;
  line-height: 95%;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}